body {margin: 0}
div.maintext {margin: 1em 2em 1em 6em}
h1 {text-align: center; font-size: 300%; letter-spacing: 0.2em;
    padding: 0.3em; color: white;
    background-color: gray;}
h1.title {text-align: center; font-size: 500%; letter-spacing: 0.2em;
    padding: 0.3em; color: white;
    background-color: gray;}
h2 {margin: 1.5em 0 1em 1em;
    border-bottom: gray thin solid;}
div.box-column{
    border: thin gray ridge; margin: 0.5em 0 0.5em 0.5em;
    padding: 0.5em; float: right; width: 40%; background: #eee;}
p {font-size: 200%}
p.author {text-align: center; font-size: 200%}