/* css1 style sheet for test
   by Yamamoto Hiroshi  */

body
{
	margin: 1em 2em 1em 6em;
}
h1
{
	background-color: gray;
	color: white;
	font-size: 200%;
	letter-spacing: 0.2em;
	margin: -1em -2em 0em -6em;
	padding: 0.3em;
	text-align: center;
}
h2
{
	border-bottom: gray thin solid;
	margin: 1.5em 0 1em -3em;
}
