/* css1 style sheet for web contents
   by Yamamoto Hiroshi  */
address
{
	font-size: 80%;
}
body
{
	background-image: url(repeat-y32x8-2.png);
	background-color: #eeffff;
	background-repeat: repeat-y;
	color: #333311;
	line-height:1.2em;
	margin: 1em 1em 1em 3em;
	}
div.abox
{
	background-color: #eeffff;
	border: thin #556644 solid;
	color: #ee1100;
	margin: 1em 2em 1em 2em;
	padding: 0.5em;
}
div.embox
{
	background-color: #eeffff;
	border: thin #556644 dotted;
	color: #333311;
	margin: 1em 2em 1em 2em;
	padding: 0.5em;
}
div.figure
{
	text-align: center;
}
div.lfloat
{
    margin:0 1em 0 0;
    float: left;
}
div.picture
{
	float: right;
}
div.google
{
	background-color: #FFFFFF;
}
em.ans
{
	background-color: #eeffff;
	border: thin #556644 solid;
	color: #ee1100;
	font-style: normal;
	font-weight: normal;
	margin: 0.2em;
	padding: 0.1em;
	white-space: pre;
}
em.var
{
	color: #ee1100;
}
em.frame
{
    border:1px#000000 solid;
    font-style: normal;
    font-weight: normal;
}
em.bgr
{
    background-color: #FFBBBB;
}
em.bgg
{
    background-color: #BBFFBB;
}
em.bgb
{
    background-color: #BBBBFF;
}
h1
{
	background-color: #eeffff;
	background-image: url(repeat4x8-2.png);
	background-repeat: repeat;
	border-bottom: medium #556644 solid;
	border-right: thick #556644 solid;
	color: #333311;
	font-size: 120%;
	font-weight: bold;
	letter-spacing:0.2em;
	line-height:1.2em;
	margin: 0 0 1em 0;
	padding: 0.3em;
	text-align: center;
}
h1.title
{
	font-size: 141%;
	padding: 0.5em;
}
img.google
{
	border: 0;
	vertical-align: middle;
}
mjx-container {
    font-size: 95%;
}
p.picture
{
	font-size: 70%;
	text-align: center;
}
td.center
{
    text-align:center;
    vertical-align:middle;
}
td.frame
{
    border:1px#000000 solid;
}
tr.em
{
    background-color: #FFBBBB;
}
td.emr
{
    background-color: #FFBBBB;
}
td.emg
{
    background-color: #BBFFBB;
}
td.emb
{
    background-color: #BBBBFF;
}

